In [1]:
import pandas as pd

Summery: I created a pattern with dataframes to make it easier to understand. I have data from 2013,2014,2015,2016,and 2017

# 2013 Data Set for Trip History

In [2]:
df_one_2013 = pd.read_csv("2013_citibike.csv")
df_one_2013.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,695,6/1/13 0:00,6/1/13 0:11,444,Broadway & W 24 St,40.742354,-73.989151,434.0,9 Ave & W 18 St,40.743174,-74.003664,19678,Subscriber,1983.0,1
1,693,6/1/13 0:00,6/1/13 0:11,444,Broadway & W 24 St,40.742354,-73.989151,434.0,9 Ave & W 18 St,40.743174,-74.003664,16649,Subscriber,1984.0,1
2,2059,6/1/13 0:00,6/1/13 0:35,406,Hicks St & Montague St,40.695128,-73.995951,406.0,Hicks St & Montague St,40.695128,-73.995951,19599,Customer,NaN,0
3,123,6/1/13 0:01,6/1/13 0:03,475,E 15 St & Irving Pl,40.735243,-73.987586,262.0,Washington Park,40.691782,-73.973730,16352,Subscriber,1960.0,1
4,1521,6/1/13 0:01,6/1/13 0:26,2008,Little West St & 1 Pl,40.705693,-74.016777,310.0,State St & Smith St,40.689269,-73.989129,15567,Subscriber,1983.0,1

In [3]:
df_two_2013 = pd.read_csv("2013_citibike_2.csv")
df_two_2013.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,326,10/1/13 0:01,10/1/13 0:06,239,Willoughby St & Fleet St,40.691966,-73.981302,366,Clinton Ave & Myrtle Ave,40.693261,-73.968896,16052,Subscriber,1982,1
1,729,10/1/13 0:01,10/1/13 0:13,322,Clinton St & Tillary St,40.696192,-73.991218,398,Atlantic Ave & Furman St,40.691652,-73.999979,19412,Customer,\N,0
2,520,10/1/13 0:01,10/1/13 0:10,174,E 25 St & 1 Ave,40.738177,-73.977387,403,E 2 St & 2 Ave,40.725029,-73.990697,19645,Subscriber,1984,1
3,281,10/1/13 0:01,10/1/13 0:06,430,York St & Jay St,40.701485,-73.986569,323,Lawrence St & Willoughby St,40.692362,-73.986317,16992,Subscriber,1985,1
4,196,10/1/13 0:01,10/1/13 0:04,403,E 2 St & 2 Ave,40.725029,-73.990697,401,Allen St & Rivington St,40.720196,-73.989978,15690,Subscriber,1986,1

In [4]:
df_three_2013 = pd.read_csv("2013_citibike_3.csv")
df_three_2013.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,695,6/1/13 0:00,6/1/13 0:11,444,Broadway & W 24 St,40.742354,-73.989151,434.0,9 Ave & W 18 St,40.743174,-74.003664,19678,Subscriber,1983.0,1
1,693,6/1/13 0:00,6/1/13 0:11,444,Broadway & W 24 St,40.742354,-73.989151,434.0,9 Ave & W 18 St,40.743174,-74.003664,16649,Subscriber,1984.0,1
2,2059,6/1/13 0:00,6/1/13 0:35,406,Hicks St & Montague St,40.695128,-73.995951,406.0,Hicks St & Montague St,40.695128,-73.995951,19599,Customer,NaN,0
3,123,6/1/13 0:01,6/1/13 0:03,475,E 15 St & Irving Pl,40.735243,-73.987586,262.0,Washington Park,40.691782,-73.973730,16352,Subscriber,1960.0,1
4,1521,6/1/13 0:01,6/1/13 0:26,2008,Little West St & 1 Pl,40.705693,-74.016777,310.0,State St & Smith St,40.689269,-73.989129,15567,Subscriber,1983.0,1

In [5]:
frames = [df_one_2013, df_two_2013, df_three_2013]

In [6]:
result_2013 = pd.concat(frames)
print (result_2013)

        tripduration      starttime       stoptime  start station id  \
0                695    6/1/13 0:00    6/1/13 0:11               444
1                693    6/1/13 0:00    6/1/13 0:11               444
2               2059    6/1/13 0:00    6/1/13 0:35               406
3                123    6/1/13 0:01    6/1/13 0:03               475
4               1521    6/1/13 0:01    6/1/13 0:26              2008
5               2028    6/1/13 0:01    6/1/13 0:35               485
6               2057    6/1/13 0:02    6/1/13 0:36               285
7                369    6/1/13 0:03    6/1/13 0:09               509
8               1829    6/1/13 0:03    6/1/13 0:34               265
9                829    6/1/13 0:04    6/1/13 0:18               404
10              1316    6/1/13 0:04    6/1/13 0:26               423
11              1456    6/1/13 0:04    6/1/13 0:28               502
12               386    6/1/13 0:05    6/1/13 0:11               241
13               924    6/1/13 0:05    6/1/13 0:20               486
14              1233    6/1/13 0:06    6/1/13 0:27               527
15               512    6/1/13 0:03    6/1/13 0:12               309
16               505    6/1/13 0:03    6/1/13 0:12               309
17               833    6/1/13 0:07    6/1/13 0:21               503
18              1818    6/1/13 0:08    6/1/13 0:38               257
19               682    6/1/13 0:08    6/1/13 0:20               486
20               899    6/1/13 0:09    6/1/13 0:24               494
21               626    6/1/13 0:09    6/1/13 0:20               380
22               219    6/1/13 0:10    6/1/13 0:14               305
23               339    6/1/13 0:10    6/1/13 0:16               480
24                97    6/1/13 0:11    6/1/13 0:12               453
25               511    6/1/13 0:10    6/1/13 0:19               223
26               198    6/1/13 0:11    6/1/13 0:14               476
27               482    6/1/13 0:11    6/1/13 0:19               151
28               395    6/1/13 0:11    6/1/13 0:18               312
29               424    6/1/13 0:11    6/1/13 0:18               494
...              ...            ...            ...               ...
577673           787  6/30/13 23:54    7/1/13 0:07               495
577674           547  6/30/13 23:54    7/1/13 0:03               237
577675         10327  6/30/13 23:53    7/1/13 2:45               428
577676          1798  6/30/13 23:55    7/1/13 0:25               161
577677          1758  6/30/13 23:55    7/1/13 0:24               161
577678           631  6/30/13 23:55    7/1/13 0:06               439
577679           203  6/30/13 23:52  6/30/13 23:56               324
577680           279  6/30/13 23:57    7/1/13 0:01               402
577681           523  6/30/13 23:57    7/1/13 0:06               379
577682           806  6/30/13 23:57    7/1/13 0:11               528
577683           817  6/30/13 23:54    7/1/13 0:08               157
577684           730  6/30/13 23:57    7/1/13 0:10               540
577685           318  6/30/13 23:57    7/1/13 0:03               127
577686          1090  6/30/13 23:58    7/1/13 0:16               477
577687           436  6/30/13 23:58    7/1/13 0:05               161
577688           784  6/30/13 23:58    7/1/13 0:11               348
577689           185  6/30/13 23:57    7/1/13 0:00               323
577690           595  6/30/13 23:58    7/1/13 0:08               360
577691          1539  6/30/13 23:58    7/1/13 0:24               363
577692          1777  6/30/13 23:58    7/1/13 0:28               470
577693          1059  6/30/13 23:58    7/1/13 0:16               477
577694          1628  6/30/13 23:58    7/1/13 0:25               470
577695         81406  6/30/13 23:58   7/1/13 22:35               477
577696          1397  6/30/13 23:59    7/1/13 0:22               470
577697         81724  6/30/13 23:59   7/1/13 22:41               477
577698           925  6/30/13 23:59    7/1/13 0:14               509
577699           279  6/30/13 23:59    7/1/13 0:04               116
577700           161  6/30/13 23:59    7/1/13 0:02               443
577701           909  6/30/13 23:59    7/1/13 0:14               509
577702           634    7/1/13 0:00    7/1/13 0:10               164

                 start station name  start station latitude  \
0                Broadway & W 24 St               40.742354
1                Broadway & W 24 St               40.742354
2            Hicks St & Montague St               40.695128
3               E 15 St & Irving Pl               40.735243
4             Little West St & 1 Pl               40.705693
5                   W 37 St & 5 Ave               40.750380
6                Broadway & E 14 St               40.734546
7                   9 Ave & W 22 St               40.745497
8          Stanton St & Chrystie St               40.722293
9                   9 Ave & W 14 St               40.740583
10                  W 54 St & 9 Ave               40.765849
11              Henry St & Grand St               40.714215
12      DeKalb Ave & S Portland Ave               40.689810
13               Broadway & W 29 St               40.746201
14                  E 33 St & 2 Ave               40.744023
15              Murray St & West St               40.714979
16              Murray St & West St               40.714979
17               E 20 St & Park Ave               40.738274
18          Lispenard St & Broadway               40.719392
19               Broadway & W 29 St               40.746201
20                  W 26 St & 8 Ave               40.747348
21                 W 4 St & 7 Ave S               40.734011
22                  E 58 St & 3 Ave               40.760958
23                 W 53 St & 10 Ave               40.766697
24                  W 22 St & 8 Ave               40.744751
25                  W 13 St & 7 Ave               40.737815
26                  E 31 St & 3 Ave               40.743943
27         Cleveland Pl & Spring St               40.722104
28            Allen St & Stanton St               40.722055
29                  W 26 St & 8 Ave               40.747348
...                             ...                     ...
577673             W 47 St & 10 Ave               40.762699
577674              E 11 St & 2 Ave               40.730473
577675               E 3 St & 1 Ave               40.724677
577676        LaGuardia Pl & W 3 St               40.729170
577677        LaGuardia Pl & W 3 St               40.729170
577678               E 4 St & 2 Ave               40.726281
577679      DeKalb Ave & Hudson Ave               40.689888
577680           Broadway & E 22 St               40.740343
577681              W 31 St & 7 Ave               40.749156
577682              2 Ave & E 31 St               40.742909
577683      Henry St & Atlantic Ave               40.690893
577684      Lexington Ave & E 29 St               40.743116
577685        Barrow St & Hudson St               40.731724
577686              W 41 St & 8 Ave               40.756405
577687        LaGuardia Pl & W 3 St               40.729170
577688       W Broadway & Spring St               40.724910
577689  Lawrence St & Willoughby St               40.692362
577690         William St & Pine St               40.707179
577691               West Thames St               40.708347
577692              W 20 St & 8 Ave               40.743453
577693              W 41 St & 8 Ave               40.756405
577694              W 20 St & 8 Ave               40.743453
577695              W 41 St & 8 Ave               40.756405
577696              W 20 St & 8 Ave               40.743453
577697              W 41 St & 8 Ave               40.756405
577698              9 Ave & W 22 St               40.745497
577699              W 17 St & 8 Ave               40.741776
577700         Bedford Ave & S 9 St               40.708531
577701              9 Ave & W 22 St               40.745497
577702              E 47 St & 2 Ave               40.753231

        start station longitude  end station id  \
0                    -73.989151           434.0
1                    -73.989151           434.0
2                    -73.995951           406.0
3                    -73.987586           262.0
4                    -74.016777           310.0
5                    -73.983390           406.0
6                    -73.990741           532.0
7                    -74.001971           521.0
8                    -73.991475           436.0
9                    -74.005509           303.0
10                   -73.986905           314.0
11                   -73.981346           532.0
12                   -73.974931           365.0
13                   -73.988557           521.0
14                   -73.976056           296.0
15                   -74.013012           300.0
16                   -74.013012           347.0
17                   -73.987520           503.0
18                   -74.002472           500.0
19                   -73.988557           521.0
20                   -73.997236           494.0
21                   -74.002939           382.0
22                   -73.967245           358.0
23                   -73.990617           432.0
24                   -73.999154           453.0
25                   -73.999947           345.0
26                   -73.979661           461.0
27                   -73.997249           401.0
28                   -73.989111           410.0
29                   -73.997236           519.0
...                         ...             ...
577673               -73.993012           434.0
577674               -73.986724           285.0
577675               -73.987834           403.0
577676               -73.998102           294.0
577677               -73.998102           294.0
577678               -73.989780           537.0
577679               -73.981013           365.0
577680               -73.989551           402.0
577681               -73.991600           509.0
577682               -73.977061           297.0
577683               -73.996123          2000.0
577684               -73.982154           540.0
577685               -74.006744           405.0
577686               -73.990026           536.0
577687               -73.998102           403.0
577688               -74.001547           335.0
577689               -73.986317           293.0
577690               -74.008873           329.0
577691               -74.017134           477.0
577692               -74.000040           268.0
577693               -73.990026           477.0
577694               -74.000040           268.0
577695               -73.990026           116.0
577696               -74.000040           268.0
577697               -73.990026           116.0
577698               -74.001971           462.0
577699               -74.001497           494.0
577700               -73.964090           282.0
577701               -74.001971           462.0
577702               -73.970325           504.0

                       end station name  end station latitude  \
0                       9 Ave & W 18 St             40.743174
1                       9 Ave & W 18 St             40.743174
2                Hicks St & Montague St             40.695128
3                       Washington Park             40.691782
4                   State St & Smith St             40.689269
5                Hicks St & Montague St             40.695128
6                       S 5 Pl & S 5 St             40.710451
7                     8 Ave & W 31 St N             40.750967
8              Hancock St & Bedford Ave             40.682166
9                 Mercer St & Spring St             40.723627
10      Cadman Plaza West & Montague St             40.693830
11                      S 5 Pl & S 5 St             40.710451
12                Fulton St & Grand Ave             40.682232
13                    8 Ave & W 31 St N             40.750967
14                 Division St & Bowery             40.714131
15               Shevchenko Pl & E 7 St             40.728145
16          Greenwich St & W Houston St             40.728846
17                   E 20 St & Park Ave             40.738274
18                   Broadway & W 51 St             40.762288
19                    8 Ave & W 31 St N             40.750967
20                      W 26 St & 8 Ave             40.747348
21              University Pl & E 14 St             40.734927
22        Christopher St & Greenwich St             40.732916
23                    E 7 St & Avenue A             40.726218
24                      W 22 St & 8 Ave             40.744751
25                      W 13 St & 6 Ave             40.736494
26                      E 20 St & 2 Ave             40.735877
27              Allen St & Rivington St             40.720196
28              Suffolk St & Stanton St             40.720664
29                Pershing Square North             40.751873
...                                 ...                   ...
577673                  9 Ave & W 18 St             40.743174
577674               Broadway & E 14 St             40.734546
577675                   E 2 St & 2 Ave             40.725029
577676              Washington Square E             40.730494
577677              Washington Square E             40.730494
577678          Lexington Ave & E 24 St             40.740259
577679            Fulton St & Grand Ave             40.682232
577680               Broadway & E 22 St             40.740343
577681                  9 Ave & W 22 St             40.745497
577682                  E 15 St & 3 Ave             40.734232
577683         Front St & Washington St             40.702551
577684          Lexington Ave & E 29 St             40.743116
577685    Washington St & Gansevoort St             40.739323
577686                  1 Ave & E 30 St             40.741444
577687                   E 2 St & 2 Ave             40.725029
577688         Washington Pl & Broadway             40.729039
577689            Lafayette St & E 8 St             40.730207
577690    Greenwich St & North Moore St             40.720152
577691                  W 41 St & 8 Ave             40.756405
577692            Howard St & Centre St             40.719105
577693                  W 41 St & 8 Ave             40.756405
577694            Howard St & Centre St             40.719105
577695                  W 17 St & 8 Ave             40.741776
577696            Howard St & Centre St             40.719105
577697                  W 17 St & 8 Ave             40.741776
577698                 W 22 St & 10 Ave             40.746920
577699                  W 26 St & 8 Ave             40.747348
577700               Kent Ave & S 11 St             40.707645
577701                 W 22 St & 10 Ave             40.746920
577702                  1 Ave & E 16 St             40.732219

        end station longitude  bikeid    usertype birth year  gender
0                  -74.003664   19678  Subscriber       1983       1
1                  -74.003664   16649  Subscriber       1984       1
2                  -73.995951   19599    Customer        NaN       0
3                  -73.973730   16352  Subscriber       1960       1
4                  -73.989129   15567  Subscriber       1983       1
5                  -73.995951   18445    Customer        NaN       0
6                  -73.960876   15693  Subscriber       1991       1
7                  -73.994442   16100  Subscriber       1981       1
8                  -73.953990   15234  Subscriber       1984       1
9                  -73.999496   16400  Subscriber       1987       1
10                 -73.990539   19781  Subscriber       1960       1
11                 -73.960876   18886    Customer        NaN       0
12                 -73.961458   19039  Subscriber       1981       1
13                 -73.994442   16608    Customer        NaN       0
14                 -73.997047   14761  Subscriber       1987       1
15                 -73.990214   19080  Subscriber       1979       2
16                 -74.008591   16798  Subscriber       1984       1
17                 -73.987520   19072    Customer        NaN       0
18                 -73.983362   20349    Customer        NaN       0
19                 -73.994442   20176    Customer        NaN       0
20                 -73.997236   15539  Subscriber       1967       1
21                 -73.992005   17122  Subscriber       1982       1
22                 -74.007114   16301  Subscriber       1977       1
23                 -73.983799   15628  Subscriber       1969       1
24                 -73.999154   18614  Subscriber       1985       1
25                 -73.997044   19853  Subscriber       1979       1
26                 -73.982050   17615  Subscriber       1982       1
27                 -73.989978   18970    Customer        NaN       0
28                 -73.985180   19477  Subscriber       1970       1
29                 -73.977706   18489  Subscriber       1957       1
...                       ...     ...         ...        ...     ...
577673             -74.003664   14836    Customer        NaN       0
577674             -73.990741   18310  Subscriber       1983       1
577675             -73.990697   19186    Customer        NaN       0
577676             -73.995721   15887    Customer        NaN       0
577677             -73.995721   16590    Customer        NaN       0
577678             -73.984092   19494    Customer        NaN       0
577679             -73.961458   16981  Subscriber       1986       1
577680             -73.989551   19536  Subscriber       1955       1
577681             -74.001971   18366  Subscriber       1978       2
577682             -73.986923   20241  Subscriber       1982       1
577683             -73.989402   15364  Subscriber       1983       1
577684             -73.982154   15066    Customer        NaN       0
577685             -74.008119   14972    Customer        NaN       0
577686             -73.975361   16516    Customer        NaN       0
577687             -73.990697   19454  Subscriber       1982       1
577688             -73.994046   18556    Customer        NaN       0
577689             -73.991026   16746  Subscriber       1982       1
577690             -74.010365   19290  Subscriber       1985       1
577691             -73.990026   18465    Customer        NaN       0
577692             -73.999733   15741    Customer        NaN       0
577693             -73.990026   16416    Customer        NaN       0
577694             -73.999733   15393    Customer        NaN       0
577695             -74.001497   18726    Customer        NaN       0
577696             -73.999733   15487    Customer        NaN       0
577697             -74.001497   14718    Customer        NaN       0
577698             -74.004519   15250  Subscriber       1964       1
577699             -73.997236   19411    Customer        NaN       0
577700             -73.968415   18910  Subscriber       1972       2
577701             -74.004519   16108    Customer        NaN       0
577702             -73.981656   16950    Customer        NaN       0

[2193118 rows x 15 columns]

In [7]:
#save on to csv
result_2013.to_csv('2013_citibike_results.csv')

# 2014 Data Set for Trip History

In [8]:
df_one_2014 = pd.read_csv("2014_citibike.csv")
df_one_2014.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,471,1/1/14 0:00,1/1/14 0:07,2009,Catherine St & Monroe St,40.711174,-73.996826,263,Elizabeth St & Hester St,40.717290,-73.996375,16379,Subscriber,1986,1
1,1494,1/1/14 0:00,1/1/14 0:25,536,1 Ave & E 30 St,40.741444,-73.975361,259,South St & Whitehall St,40.701221,-74.012342,15611,Subscriber,1963,1
2,464,1/1/14 0:03,1/1/14 0:11,228,E 48 St & 3 Ave,40.754601,-73.971879,2022,E 59 St & Sutton Pl,40.758491,-73.959206,16613,Subscriber,1991,1
3,373,1/1/14 0:05,1/1/14 0:11,519,Pershing Square N,40.751884,-73.977702,526,E 33 St & 5 Ave,40.747659,-73.984907,15938,Subscriber,1989,1
4,660,1/1/14 0:05,1/1/14 0:16,83,Atlantic Ave & Fort Greene Pl,40.683826,-73.976323,436,Hancock St & Bedford Ave,40.682166,-73.953990,19830,Subscriber,1990,1

In [9]:
df_two_2014=pd.read_csv("2014_citibike_2.csv")
df_two_2014.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,382,2/1/14 0:00,2/1/14 0:06,294,Washington Square E,40.730494,-73.995721,265,Stanton St & Chrystie St,40.722293,-73.991475,21101,Subscriber,1991,1
1,372,2/1/14 0:00,2/1/14 0:06,285,Broadway & E 14 St,40.734546,-73.990741,439,E 4 St & 2 Ave,40.726281,-73.989780,15456,Subscriber,1979,2
2,591,2/1/14 0:00,2/1/14 0:10,247,Perry St & Bleecker St,40.735354,-74.004831,251,Mott St & Prince St,40.723180,-73.994800,16281,Subscriber,1948,2
3,583,2/1/14 0:00,2/1/14 0:10,357,E 11 St & Broadway,40.732618,-73.991580,284,Greenwich Ave & 8 Ave,40.739017,-74.002638,17400,Subscriber,1981,1
4,223,2/1/14 0:00,2/1/14 0:04,401,Allen St & Rivington St,40.720196,-73.989978,439,E 4 St & 2 Ave,40.726281,-73.989780,19341,Subscriber,1990,1

In [10]:
df_three_2014=pd.read_csv("2014_citibike_3.csv")
df_three_2014.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,949,3/1/14 0:00,3/1/14 0:16,317,E 6 St & Avenue B,40.724537,-73.981854,284,Greenwich Ave & 8 Ave,40.739017,-74.002638,17440,Subscriber,1942,1
1,533,3/1/14 0:00,3/1/14 0:09,457,Broadway & W 58 St,40.766953,-73.981693,441,E 52 St & 2 Ave,40.756014,-73.967416,20855,Subscriber,1960,1
2,122,3/1/14 0:01,3/1/14 0:03,146,Hudson St & Reade St,40.716250,-74.009106,276,Duane St & Greenwich St,40.717488,-74.010455,15822,Subscriber,1984,1
3,134,3/1/14 0:01,3/1/14 0:03,146,Hudson St & Reade St,40.716250,-74.009106,276,Duane St & Greenwich St,40.717488,-74.010455,17793,Subscriber,1985,1
4,997,3/1/14 0:01,3/1/14 0:17,150,E 2 St & Avenue C,40.720874,-73.980858,461,E 20 St & 2 Ave,40.735877,-73.982050,20756,Subscriber,1977,1

In [11]:
#creating a 2014 Dataframe with all the csv's
frames_2014 = [df_one_2014, df_two_2014, df_three_2014]

In [12]:
result_2014 = pd.concat(frames_2014)
print (result_2014)

        tripduration      starttime       stoptime  start station id  \
0                471    1/1/14 0:00    1/1/14 0:07              2009
1               1494    1/1/14 0:00    1/1/14 0:25               536
2                464    1/1/14 0:03    1/1/14 0:11               228
3                373    1/1/14 0:05    1/1/14 0:11               519
4                660    1/1/14 0:05    1/1/14 0:16                83
5                330    1/1/14 0:05    1/1/14 0:11               422
6                261    1/1/14 0:06    1/1/14 0:10               516
7                337    1/1/14 0:06    1/1/14 0:12               380
8                429    1/1/14 0:07    1/1/14 0:14               296
9               1025    1/1/14 0:08    1/1/14 0:25               540
10               718    1/1/14 0:09    1/1/14 0:21               263
11               786    1/1/14 0:10    1/1/14 0:24               153
12               267    1/1/14 0:11    1/1/14 0:15               151
13               744    1/1/14 0:12    1/1/14 0:24               450
14               704    1/1/14 0:12    1/1/14 0:24               331
15              1367    1/1/14 0:12    1/1/14 0:35               519
16               327    1/1/14 0:13    1/1/14 0:18               502
17               223    1/1/14 0:15    1/1/14 0:19               528
18               577    1/1/14 0:16    1/1/14 0:25               467
19               566    1/1/14 0:16    1/1/14 0:25               467
20               637    1/1/14 0:16    1/1/14 0:27               285
21               513    1/1/14 0:16    1/1/14 0:25               382
22               430    1/1/14 0:18    1/1/14 0:25               285
23               837    1/1/14 0:18    1/1/14 0:32               488
24               834    1/1/14 0:19    1/1/14 0:32               488
25               387    1/1/14 0:19    1/1/14 0:25               401
26              1191    1/1/14 0:21    1/1/14 0:41               251
27               601    1/1/14 0:22    1/1/14 0:32               507
28               128    1/1/14 0:22    1/1/14 0:24               380
29               170    1/1/14 0:22    1/1/14 0:25               116
...              ...            ...            ...               ...
439087           509  3/31/14 23:50  3/31/14 23:58                83
439088           236  3/31/14 23:50  3/31/14 23:54               360
439089           392  3/31/14 23:50  3/31/14 23:57               469
439090          1351  3/31/14 23:50    4/1/14 0:13               480
439091           209  3/31/14 23:51  3/31/14 23:54               518
439092           203  3/31/14 23:51  3/31/14 23:54               518
439093           407  3/31/14 23:51  3/31/14 23:58               387
439094          1488  3/31/14 23:52    4/1/14 0:16               442
439095           594  3/31/14 23:52    4/1/14 0:02               540
439096           703  3/31/14 23:52    4/1/14 0:04               336
439097           315  3/31/14 23:53  3/31/14 23:58                82
439098           770  3/31/14 23:53    4/1/14 0:06               457
439099           733  3/31/14 23:53    4/1/14 0:05               216
439100           673  3/31/14 23:54    4/1/14 0:05               311
439101           557  3/31/14 23:54    4/1/14 0:03               380
439102           514  3/31/14 23:55    4/1/14 0:03               380
439103           518  3/31/14 23:55    4/1/14 0:03               380
439104           553  3/31/14 23:55    4/1/14 0:04               326
439105           505  3/31/14 23:55    4/1/14 0:04               480
439106           848  3/31/14 23:56    4/1/14 0:10               423
439107           243  3/31/14 23:56    4/1/14 0:00               267
439108           478  3/31/14 23:56    4/1/14 0:04               285
439109           320  3/31/14 23:56    4/1/14 0:02               312
439110           979  3/31/14 23:57    4/1/14 0:13               236
439111            87  3/31/14 23:57  3/31/14 23:59               486
439112           244  3/31/14 23:57    4/1/14 0:01               347
439113           244  3/31/14 23:57    4/1/14 0:01               347
439114           509  3/31/14 23:58    4/1/14 0:06               285
439115           649  3/31/14 23:59    4/1/14 0:10               403
439116           255  3/31/14 23:59    4/1/14 0:04               120

                     start station name  start station latitude  \
0              Catherine St & Monroe St               40.711174
1                       1 Ave & E 30 St               40.741444
2                       E 48 St & 3 Ave               40.754601
3                     Pershing Square N               40.751884
4         Atlantic Ave & Fort Greene Pl               40.683826
5                      W 59 St & 10 Ave               40.770513
6                       E 47 St & 1 Ave               40.752069
7                      W 4 St & 7 Ave S               40.734011
8                  Division St & Bowery               40.714131
9               Lexington Ave & E 26 St               40.741473
10             Elizabeth St & Hester St               40.717290
11                      E 40 St & 5 Ave               40.752062
12             Cleveland Pl & Spring St               40.721816
13                      W 49 St & 8 Ave               40.762272
14                  Pike St & Monroe St               40.711731
15                    Pershing Square N               40.751884
16                  Henry St & Grand St               40.714215
17                      2 Ave & E 31 St               40.742909
18                      Dean St & 4 Ave               40.683125
19                      Dean St & 4 Ave               40.683125
20                   Broadway & E 14 St               40.734546
21              University Pl & E 14 St               40.734927
22                   Broadway & E 14 St               40.734546
23                      W 39 St & 9 Ave               40.756458
24                      W 39 St & 9 Ave               40.756458
25              Allen St & Rivington St               40.720196
26                  Mott St & Prince St               40.723180
27                      E 25 St & 2 Ave               40.739126
28                     W 4 St & 7 Ave S               40.734011
29                      W 17 St & 8 Ave               40.741776
...                                 ...                     ...
439087    Atlantic Ave & Fort Greene Pl               40.683826
439088             William St & Pine St               40.707179
439089               Broadway & W 53 St               40.763441
439090                 W 53 St & 10 Ave               40.766697
439091                  E 39 St & 2 Ave               40.747804
439092                  E 39 St & 2 Ave               40.747804
439093          Centre St & Chambers St               40.712733
439094                  W 27 St & 7 Ave               40.746647
439095          Lexington Ave & E 26 St               40.741473
439096      Sullivan St & Washington Sq               40.730477
439097           St James Pl & Pearl St               40.711174
439098               Broadway & W 58 St               40.766953
439099  Columbia Heights & Cranberry St               40.700379
439100           Norfolk St & Broome St               40.717227
439101                 W 4 St & 7 Ave S               40.734011
439102                 W 4 St & 7 Ave S               40.734011
439103                 W 4 St & 7 Ave S               40.734011
439104                  E 11 St & 1 Ave               40.729538
439105                 W 53 St & 10 Ave               40.766697
439106                  W 54 St & 9 Ave               40.765849
439107               Broadway & W 36 St               40.750977
439108               Broadway & E 14 St               40.734546
439109          Allen St & E Houston St               40.722055
439110              St Marks Pl & 2 Ave               40.728419
439111               Broadway & W 29 St               40.746201
439112         W Houston St & Hudson St               40.728739
439113         W Houston St & Hudson St               40.728739
439114               Broadway & E 14 St               40.734546
439115                   E 2 St & 2 Ave               40.725029
439116      Lexington Ave & Classon Ave               40.686768

        start station longitude  end station id            end station name  \
0                    -73.996826             263    Elizabeth St & Hester St
1                    -73.975361             259     South St & Whitehall St
2                    -73.971879            2022         E 59 St & Sutton Pl
3                    -73.977702             526             E 33 St & 5 Ave
4                    -73.976323             436    Hancock St & Bedford Ave
5                    -73.988038             526             E 33 St & 5 Ave
6                    -73.967844             167             E 39 St & 3 Ave
7                    -74.002939             435             W 21 St & 6 Ave
8                    -73.997047             306        Cliff St & Fulton St
9                    -73.983209             447             8 Ave & W 52 St
10                   -73.996375             251         Mott St & Prince St
11                   -73.981632             290             2 Ave & E 58 St
12                   -73.997203             410     Suffolk St & Stanton St
13                   -73.987882             505             6 Ave & W 33 St
14                   -73.991930             195       Liberty St & Broadway
15                   -73.977702             386        Centre St & Worth St
16                   -73.981346             411           E 6 St & Avenue D
17                   -73.977061             518             E 39 St & 2 Ave
18                   -73.978951             270     Adelphi St & Myrtle Ave
19                   -73.978951             270     Adelphi St & Myrtle Ave
20                   -73.990741             505             6 Ave & W 33 St
21                   -73.992005             401     Allen St & Rivington St
22                   -73.990741             380            W 4 St & 7 Ave S
23                   -73.993722             380            W 4 St & 7 Ave S
24                   -73.993722             380            W 4 St & 7 Ave S
25                   -73.989978             342  Columbia St & Rivington St
26                   -73.994800             404             9 Ave & W 14 St
27                   -73.979738             150           E 2 St & Avenue C
28                   -74.002939             380            W 4 St & 7 Ave S
29                   -74.001497             404             9 Ave & W 14 St
...                         ...             ...                         ...
439087               -73.976323             310         State St & Smith St
439088               -74.008873             417      Barclay St & Church St
439089               -73.982681             318    E 43 St & Vanderbilt Ave
439090               -73.990617             426       West St & Chambers St
439091               -73.973442             476             E 31 St & 3 Ave
439092               -73.973442             476             E 31 St & 3 Ave
439093               -74.004607             147    Greenwich St & Warren St
439094               -73.993915             438         St Marks Pl & 1 Ave
439095               -73.983209             482             W 15 St & 7 Ave
439096               -73.999061             285          Broadway & E 14 St
439097               -74.000165             151    Cleveland Pl & Spring St
439098               -73.981693             514            12 Ave & W 40 St
439099               -73.995481             244    Willoughby Ave & Hall St
439100               -73.988021             128    MacDougal St & Prince St
439101               -74.002939             320      Leonard St & Church St
439102               -74.002939             320      Leonard St & Church St
439103               -74.002939             320      Leonard St & Church St
439104               -73.984267             263    Elizabeth St & Hester St
439105               -73.990617             465          Broadway & W 41 St
439106               -73.986905             385             E 55 St & 2 Ave
439107               -73.987654             488             W 39 St & 9 Ave
439108               -73.990741             263    Elizabeth St & Hester St
439109               -73.989111             326             E 11 St & 1 Ave
439110               -73.987140             494             W 26 St & 8 Ave
439111               -73.988557             498          Broadway & W 32 St
439112               -74.007488             368          Carmine St & 6 Ave
439113               -74.007488             212     W 16 St & The High Line
439114               -73.990741             546        E 30 St & Park Ave S
439115               -73.990697             461             E 20 St & 2 Ave
439116               -73.959282             396  Lefferts Pl & Franklin Ave

        end station latitude  end station longitude  bikeid    usertype  \
0                  40.717290             -73.996375   16379  Subscriber
1                  40.701221             -74.012342   15611  Subscriber
2                  40.758491             -73.959206   16613  Subscriber
3                  40.747659             -73.984907   15938  Subscriber
4                  40.682166             -73.953990   19830  Subscriber
5                  40.747659             -73.984907   17343  Subscriber
6                  40.748901             -73.976049   17880  Subscriber
7                  40.741740             -73.994156   16275  Subscriber
8                  40.708235             -74.005301   17318  Subscriber
9                  40.763707             -73.985162   15525  Subscriber
10                 40.723180             -73.994800   15693    Customer
11                 40.760203             -73.964785   15281  Subscriber
12                 40.720664             -73.985180   15159  Subscriber
13                 40.749013             -73.988484   15157  Subscriber
14                 40.709056             -74.010434   17080  Subscriber
15                 40.714948             -74.002345   20731    Customer
16                 40.722281             -73.976687   15655  Subscriber
17                 40.747804             -73.973442   15737  Subscriber
18                 40.693083             -73.971789   16115  Subscriber
19                 40.693083             -73.971789   15753  Subscriber
20                 40.749013             -73.988484   15440  Subscriber
21                 40.720196             -73.989978   14650  Subscriber
22                 40.734011             -74.002939   19415  Subscriber
23                 40.734011             -74.002939   16827  Subscriber
24                 40.734011             -74.002939   20280  Subscriber
25                 40.717400             -73.980166   16776  Subscriber
26                 40.740583             -74.005509   15693    Customer
27                 40.720874             -73.980858   19260  Subscriber
28                 40.734011             -74.002939   20001  Subscriber
29                 40.740583             -74.005509   18005  Subscriber
...                      ...                    ...     ...         ...
439087             40.689269             -73.989129   15892  Subscriber
439088             40.712912             -74.010202   17873  Subscriber
439089             40.753202             -73.977987   17710  Subscriber
439090             40.717548             -74.013221   20558  Subscriber
439091             40.743943             -73.979661   16381  Subscriber
439092             40.743943             -73.979661   14579  Subscriber
439093             40.715422             -74.011220   15616  Subscriber
439094             40.727791             -73.985649   15012  Subscriber
439095             40.739355             -73.999318   18678  Subscriber
439096             40.734546             -73.990741   18578  Subscriber
439097             40.721816             -73.997203   18595  Subscriber
439098             40.760875             -74.002777   18004  Subscriber
439099             40.691960             -73.965369   18816  Subscriber
439100             40.727103             -74.002971   18634  Subscriber
439101             40.717571             -74.005549   15881  Subscriber
439102             40.717571             -74.005549   17664  Subscriber
439103             40.717571             -74.005549   18617  Subscriber
439104             40.717290             -73.996375   14778  Subscriber
439105             40.755136             -73.986580   20791  Subscriber
439106             40.757973             -73.966033   20205  Subscriber
439107             40.756458             -73.993722   20081  Subscriber
439108             40.717290             -73.996375   18725  Subscriber
439109             40.729538             -73.984267   18682  Subscriber
439110             40.747348             -73.997236   21525  Subscriber
439111             40.748549             -73.988084   20708  Subscriber
439112             40.730386             -74.002150   20175  Subscriber
439113             40.743349             -74.006818   14887  Subscriber
439114             40.744449             -73.983035   19390  Subscriber
439115             40.735877             -73.982050   17356  Subscriber
439116             40.680342             -73.955769   20917  Subscriber

       birth year  gender
0            1986       1
1            1963       1
2            1991       1
3            1989       1
4            1990       1
5            1987       1
6            1983       1
7            1963       1
8            1972       2
9            1981       1
10             \N       0
11           1968       1
12           1983       1
13           1976       1
14           1980       2
15             \N       0
16           1973       2
17           1982       1
18           1983       1
19           1983       2
20           1981       1
21           1990       1
22           1971       2
23           1963       1
24           1963       1
25           1981       1
26             \N       0
27           1986       1
28           1984       1
29           1986       1
...           ...     ...
439087       1973       1
439088       1964       1
439089       1964       1
439090       1974       1
439091       1989       1
439092       1989       1
439093       1967       1
439094       1965       1
439095       1963       1
439096       1969       2
439097       1953       2
439098       1988       1
439099       1982       1
439100       1974       2
439101       1954       1
439102       1985       2
439103       1986       1
439104       1990       1
439105       1965       1
439106       1982       1
439107       1986       1
439108       1972       1
439109       1986       1
439110       1986       1
439111       1952       1
439112       1981       2
439113       1978       1
439114       1978       1
439115       1964       1
439116       1987       1

[964253 rows x 15 columns]

In [13]:
#the main 2014 data frame will be saved on to a csv
result_2014.to_csv('2014_citibike_results.csv')

# 2015 Data Set

In [14]:
df_one_2015 = pd.read_csv("2015_citibike.csv")
df_one_2015.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1346,1/1/15 0:01,1/1/15 0:24,455,1 Ave & E 44 St,40.750020,-73.969053,265,Stanton St & Chrystie St,40.722293,-73.991475,18660,Subscriber,1960.0,2
1,363,1/1/15 0:02,1/1/15 0:08,434,9 Ave & W 18 St,40.743174,-74.003664,482,W 15 St & 7 Ave,40.739355,-73.999318,16085,Subscriber,1963.0,1
2,346,1/1/15 0:04,1/1/15 0:10,491,E 24 St & Park Ave S,40.740964,-73.986022,505,6 Ave & W 33 St,40.749013,-73.988484,20845,Subscriber,1974.0,1
3,182,1/1/15 0:04,1/1/15 0:07,384,Fulton St & Waverly Ave,40.683178,-73.965964,399,Lafayette Ave & St James Pl,40.688515,-73.964763,19610,Subscriber,1969.0,1
4,969,1/1/15 0:05,1/1/15 0:21,474,5 Ave & E 29 St,40.745168,-73.986831,432,E 7 St & Avenue A,40.726218,-73.983799,20197,Subscriber,1977.0,1

In [15]:
df_two_2015=pd.read_csv("2015_citibike.csv")
df_two_2015.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1346,1/1/15 0:01,1/1/15 0:24,455,1 Ave & E 44 St,40.750020,-73.969053,265,Stanton St & Chrystie St,40.722293,-73.991475,18660,Subscriber,1960.0,2
1,363,1/1/15 0:02,1/1/15 0:08,434,9 Ave & W 18 St,40.743174,-74.003664,482,W 15 St & 7 Ave,40.739355,-73.999318,16085,Subscriber,1963.0,1
2,346,1/1/15 0:04,1/1/15 0:10,491,E 24 St & Park Ave S,40.740964,-73.986022,505,6 Ave & W 33 St,40.749013,-73.988484,20845,Subscriber,1974.0,1
3,182,1/1/15 0:04,1/1/15 0:07,384,Fulton St & Waverly Ave,40.683178,-73.965964,399,Lafayette Ave & St James Pl,40.688515,-73.964763,19610,Subscriber,1969.0,1
4,969,1/1/15 0:05,1/1/15 0:21,474,5 Ave & E 29 St,40.745168,-73.986831,432,E 7 St & Avenue A,40.726218,-73.983799,20197,Subscriber,1977.0,1

In [16]:
df_three_2015=pd.read_csv("2015_citibike.csv")
df_three_2015.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1346,1/1/15 0:01,1/1/15 0:24,455,1 Ave & E 44 St,40.750020,-73.969053,265,Stanton St & Chrystie St,40.722293,-73.991475,18660,Subscriber,1960.0,2
1,363,1/1/15 0:02,1/1/15 0:08,434,9 Ave & W 18 St,40.743174,-74.003664,482,W 15 St & 7 Ave,40.739355,-73.999318,16085,Subscriber,1963.0,1
2,346,1/1/15 0:04,1/1/15 0:10,491,E 24 St & Park Ave S,40.740964,-73.986022,505,6 Ave & W 33 St,40.749013,-73.988484,20845,Subscriber,1974.0,1
3,182,1/1/15 0:04,1/1/15 0:07,384,Fulton St & Waverly Ave,40.683178,-73.965964,399,Lafayette Ave & St James Pl,40.688515,-73.964763,19610,Subscriber,1969.0,1
4,969,1/1/15 0:05,1/1/15 0:21,474,5 Ave & E 29 St,40.745168,-73.986831,432,E 7 St & Avenue A,40.726218,-73.983799,20197,Subscriber,1977.0,1

In [17]:
#2015 main data frame 
frames_2015 = [df_one_2015, df_two_2015, df_three_2015]

In [18]:
result_2015 = pd.concat(frames_2015)
print (result_2015)

        tripduration      starttime       stoptime  start station id  \
0               1346    1/1/15 0:01    1/1/15 0:24               455
1                363    1/1/15 0:02    1/1/15 0:08               434
2                346    1/1/15 0:04    1/1/15 0:10               491
3                182    1/1/15 0:04    1/1/15 0:07               384
4                969    1/1/15 0:05    1/1/15 0:21               474
5                496    1/1/15 0:07    1/1/15 0:15               512
6                152    1/1/15 0:07    1/1/15 0:09               498
7               1183    1/1/15 0:08    1/1/15 0:28               405
8                846    1/1/15 0:09    1/1/15 0:23               450
9                576    1/1/15 0:10    1/1/15 0:20               160
10               540    1/1/15 0:10    1/1/15 0:19               291
11               419    1/1/15 0:11    1/1/15 0:18               517
12               751    1/1/15 0:13    1/1/15 0:25               290
13               332    1/1/15 0:13    1/1/15 0:18               361
14              1099    1/1/15 0:14    1/1/15 0:32               317
15               649    1/1/15 0:14    1/1/15 0:25               488
16               614    1/1/15 0:14    1/1/15 0:24               285
17              1196    1/1/15 0:16    1/1/15 0:36               466
18              1426    1/1/15 0:17    1/1/15 0:40               360
19              1262    1/1/15 0:18    1/1/15 0:39               485
20               707    1/1/15 0:18    1/1/15 0:30               449
21               307    1/1/15 0:18    1/1/15 0:23               474
22              1053    1/1/15 0:19    1/1/15 0:37               164
23               446    1/1/15 0:20    1/1/15 0:27               522
24              1251    1/1/15 0:21    1/1/15 0:41               217
25               797    1/1/15 0:21    1/1/15 0:35               513
26               503    1/1/15 0:21    1/1/15 0:30               243
27              1639    1/1/15 0:22    1/1/15 0:49               382
28              1175    1/1/15 0:22    1/1/15 0:42               217
29               470    1/1/15 0:22    1/1/15 0:30               243
...              ...            ...            ...               ...
285522           257  1/31/15 23:46  1/31/15 23:50               526
285523           141  1/31/15 23:46  1/31/15 23:49               116
285524           125  1/31/15 23:46  1/31/15 23:48               478
285525           860  1/31/15 23:47    2/1/15 0:01               368
285526           471  1/31/15 23:47  1/31/15 23:55               325
285527           587  1/31/15 23:48  1/31/15 23:58               312
285528           399  1/31/15 23:49  1/31/15 23:56               274
285529          1544  1/31/15 23:51    2/1/15 0:17               521
285530           579  1/31/15 23:51    2/1/15 0:01               483
285531           284  1/31/15 23:51  1/31/15 23:56               493
285532          1527  1/31/15 23:52    2/1/15 0:17               491
285533          1509  1/31/15 23:52    2/1/15 0:17               382
285534           954  1/31/15 23:52    2/1/15 0:08               383
285535           447  1/31/15 23:52    2/1/15 0:00               528
285536           433  1/31/15 23:52    2/1/15 0:00               345
285537           319  1/31/15 23:52  1/31/15 23:57               453
285538           216  1/31/15 23:52  1/31/15 23:55               250
285539          1004  1/31/15 23:53    2/1/15 0:09               403
285540           926  1/31/15 23:54    2/1/15 0:09               168
285541           546  1/31/15 23:54    2/1/15 0:04               528
285542           429  1/31/15 23:54    2/1/15 0:01               491
285543           229  1/31/15 23:55  1/31/15 23:59               489
285544           401  1/31/15 23:56    2/1/15 0:03               483
285545           296  1/31/15 23:56    2/1/15 0:01               518
285546           993  1/31/15 23:57    2/1/15 0:13               254
285547           169  1/31/15 23:57    2/1/15 0:00               161
285548           827  1/31/15 23:58    2/1/15 0:12               252
285549           798  1/31/15 23:58    2/1/15 0:11               127
285550           725  1/31/15 23:58    2/1/15 0:10               435
285551           892  1/31/15 23:59    2/1/15 0:14               504

                    start station name  start station latitude  \
0                      1 Ave & E 44 St               40.750020
1                      9 Ave & W 18 St               40.743174
2                 E 24 St & Park Ave S               40.740964
3              Fulton St & Waverly Ave               40.683178
4                      5 Ave & E 29 St               40.745168
5                      W 29 St & 9 Ave               40.750073
6                   Broadway & W 32 St               40.748549
7        Washington St & Gansevoort St               40.739323
8                      W 49 St & 8 Ave               40.762272
9              E 37 St & Lexington Ave               40.748238
10          Madison St & Montgomery St               40.713126
11               Pershing Square South               40.751581
12                     2 Ave & E 58 St               40.760203
13                Allen St & Hester St               40.716059
14                   E 6 St & Avenue B               40.724537
15                     W 39 St & 9 Ave               40.756458
16                  Broadway & E 14 St               40.734546
17                     W 25 St & 6 Ave               40.743954
18                William St & Pine St               40.707179
19                     W 37 St & 5 Ave               40.750380
20                     W 52 St & 9 Ave               40.764618
21                     5 Ave & E 29 St               40.745168
22                     E 47 St & 2 Ave               40.753231
23             E 51 St & Lexington Ave               40.757148
24                       Old Fulton St               40.702772
25                    W 56 St & 10 Ave               40.768254
26             Fulton St & Rockwell Pl               40.688226
27             University Pl & E 14 St               40.734927
28                       Old Fulton St               40.702772
29             Fulton St & Rockwell Pl               40.688226
...                                ...                     ...
285522                 E 33 St & 5 Ave               40.747659
285523                 W 17 St & 8 Ave               40.741776
285524                11 Ave & W 41 St               40.760301
285525              Carmine St & 6 Ave               40.730386
285526                 E 19 St & 3 Ave               40.736245
285527         Allen St & E Houston St               40.722055
285528  Lafayette Ave & Fort Greene Pl               40.686919
285529                 8 Ave & W 31 St               40.750450
285530                 E 12 St & 3 Ave               40.732233
285531                 W 45 St & 6 Ave               40.756800
285532            E 24 St & Park Ave S               40.740964
285533         University Pl & E 14 St               40.734927
285534      Greenwich Ave & Charles St               40.735238
285535                 2 Ave & E 31 St               40.742909
285536                 W 13 St & 6 Ave               40.736494
285537                 W 22 St & 8 Ave               40.744751
285538        Lafayette St & Jersey St               40.724561
285539                  E 2 St & 2 Ave               40.725029
285540                 W 18 St & 6 Ave               40.739713
285541                 2 Ave & E 31 St               40.742909
285542            E 24 St & Park Ave S               40.740964
285543                10 Ave & W 28 St               40.750664
285544                 E 12 St & 3 Ave               40.732233
285545                 E 39 St & 2 Ave               40.747804
285546                 W 11 St & 6 Ave               40.735324
285547           LaGuardia Pl & W 3 St               40.729170
285548    MacDougal St & Washington Sq               40.732264
285549           Barrow St & Hudson St               40.731724
285550                 W 21 St & 6 Ave               40.741740
285551                 1 Ave & E 15 St               40.732219

        start station longitude  end station id  \
0                    -73.969053             265
1                    -74.003664             482
2                    -73.986022             505
3                    -73.965964             399
4                    -73.986831             432
5                    -73.998393             383
6                    -73.988084             474
7                    -74.008119             174
8                    -73.987882             488
9                    -73.978311             174
10                   -73.984844             151
11                   -73.977910             540
12                   -73.964785             507
13                   -73.991908             438
14                   -73.981854            2012
15                   -73.993722             434
16                   -73.990741             312
17                   -73.991449             454
18                   -74.008873             391
19                   -73.983390             251
20                   -73.987895             509
21                   -73.986831             476
22                   -73.970325             523
23                   -73.972078             518
24                   -73.993836             313
25                   -73.988639             488
26                   -73.979382             270
27                   -73.992005             352
28                   -73.993836             313
29                   -73.979382             270
...                         ...             ...
285522               -73.984907             444
285523               -74.001497             116
285524               -73.998842             515
285525               -74.002150             531
285526               -73.984738             527
285527               -73.989111            2009
285528               -73.976682             366
285529               -73.994811             128
285530               -73.988900             411
285531               -73.982912             318
285532               -73.986022             341
285533               -73.992005             448
285534               -74.000271             383
285535               -73.977061             504
285536               -73.997044             368
285537               -73.999154             346
285538               -73.995653             265
285539               -73.990697             358
285540               -73.994564             488
285541               -73.977061             498
285542               -73.986022            2012
285543               -74.001768             494
285544               -73.988900             174
285545               -73.973442             454
285546               -73.998004             473
285547               -73.998102             368
285548               -73.998522             440
285549               -74.006744             433
285550               -73.994156             368
285551               -73.981656             295

                     end station name  end station latitude  \
0            Stanton St & Chrystie St             40.722293
1                     W 15 St & 7 Ave             40.739355
2                     6 Ave & W 33 St             40.749013
3         Lafayette Ave & St James Pl             40.688515
4                   E 7 St & Avenue A             40.726218
5          Greenwich Ave & Charles St             40.735238
6                     5 Ave & E 29 St             40.745168
7                     E 25 St & 1 Ave             40.738177
8                     W 39 St & 9 Ave             40.756458
9                     E 25 St & 1 Ave             40.738177
10           Cleveland Pl & Spring St             40.721816
11            Lexington Ave & E 26 St             40.741473
12                    E 25 St & 2 Ave             40.739126
13                St Marks Pl & 1 Ave             40.727791
14                    E 27 St & 1 Ave             40.739445
15                    9 Ave & W 18 St             40.743174
16            Allen St & E Houston St             40.722055
17                    E 51 St & 1 Ave             40.754557
18                Clark St & Henry St             40.697601
19                Mott St & Prince St             40.723180
20                    9 Ave & W 22 St             40.745497
21                    E 31 St & 3 Ave             40.743943
22                    W 38 St & 8 Ave             40.754666
23                    E 39 St & 2 Ave             40.747804
24          Washington Ave & Park Ave             40.696102
25                    W 39 St & 9 Ave             40.756458
26            Adelphi St & Myrtle Ave             40.693083
27                    W 56 St & 6 Ave             40.763406
28          Washington Ave & Park Ave             40.696102
29            Adelphi St & Myrtle Ave             40.693083
...                               ...                   ...
285522             Broadway & W 24 St             40.742354
285523                W 17 St & 8 Ave             40.741776
285524               W 43 St & 10 Ave             40.760094
285525         Forsyth St & Broome St             40.718939
285526                E 33 St & 2 Ave             40.744023
285527       Catherine St & Monroe St             40.711174
285528       Clinton Ave & Myrtle Ave             40.693261
285529       MacDougal St & Prince St             40.727103
285530              E 6 St & Avenue D             40.722281
285531       E 43 St & Vanderbilt Ave             40.753202
285532         Stanton St & Mangin St             40.717821
285533               W 37 St & 10 Ave             40.756604
285534     Greenwich Ave & Charles St             40.735238
285535                1 Ave & E 15 St             40.732219
285536             Carmine St & 6 Ave             40.730386
285537            Bank St & Hudson St             40.736529
285538       Stanton St & Chrystie St             40.722293
285539  Christopher St & Greenwich St             40.732916
285540                W 39 St & 9 Ave             40.756458
285541             Broadway & W 32 St             40.748549
285542                E 27 St & 1 Ave             40.739445
285543                W 26 St & 8 Ave             40.747348
285544                E 25 St & 1 Ave             40.738177
285545                E 51 St & 1 Ave             40.754557
285546     Rivington St & Chrystie St             40.721101
285547             Carmine St & 6 Ave             40.730386
285548                E 45 St & 3 Ave             40.752554
285549             E 13 St & Avenue A             40.729554
285550             Carmine St & 6 Ave             40.730386
285551           Pike St & E Broadway             40.714067

        end station longitude  bikeid    usertype  birth year  gender
0                  -73.991475   18660  Subscriber      1960.0       2
1                  -73.999318   16085  Subscriber      1963.0       1
2                  -73.988484   20845  Subscriber      1974.0       1
3                  -73.964763   19610  Subscriber      1969.0       1
4                  -73.983799   20197  Subscriber      1977.0       1
5                  -74.000271   20788  Subscriber      1969.0       2
6                  -73.986831   19006  Subscriber      1972.0       1
7                  -73.977387   17640  Subscriber      1985.0       2
8                  -73.993722   15691  Subscriber      1991.0       1
9                  -73.977387   17837  Subscriber      1991.0       1
10                 -73.997203   16947  Subscriber      1979.0       1
11                 -73.983209   14807  Subscriber      1980.0       1
12                 -73.979738   16702  Subscriber      1987.0       1
13                 -73.985649   17342  Subscriber      1988.0       1
14                 -73.976806   19909  Subscriber      1983.0       1
15                 -74.003664   19584  Subscriber      1979.0       1
16                 -73.989111   19202  Subscriber      1959.0       1
17                 -73.965930   20683  Subscriber      1971.0       1
18                 -73.993446   21554  Subscriber      1977.0       1
19                 -73.994800   16894  Subscriber      1980.0       1
20                 -74.001971   14598  Subscriber      1972.0       1
21                 -73.979661   18834  Subscriber      1962.0       1
22                 -73.991382   15617  Subscriber      1987.0       1
23                 -73.973442   15812  Subscriber      1988.0       1
24                 -73.967510   19780    Customer         NaN       0
25                 -73.993722   16761  Subscriber      1969.0       1
26                 -73.971789   14570    Customer         NaN       0
27                 -73.977225   18320  Subscriber      1996.0       2
28                 -73.967510   16610    Customer         NaN       0
29                 -73.971789   20804  Subscriber      1986.0       1
...                       ...     ...         ...         ...     ...
285522             -73.989151   20740  Subscriber      1979.0       1
285523             -74.001497   21185  Subscriber      1990.0       1
285524             -73.994618   15130  Subscriber      1983.0       1
285525             -73.992663   16262  Subscriber      1982.0       1
285526             -73.976056   17920  Subscriber      1988.0       2
285527             -73.996826   18818  Subscriber      1973.0       1
285528             -73.968896   16477  Subscriber      1979.0       1
285529             -74.002971   19506  Subscriber      1966.0       1
285530             -73.976687   16202  Subscriber      1961.0       1
285531             -73.977987   16887  Subscriber      1968.0       1
285532             -73.976289   21518  Subscriber      1986.0       2
285533             -73.997901   18797  Subscriber      1991.0       2
285534             -74.000271   19756  Subscriber      1969.0       1
285535             -73.981656   20565  Subscriber      1987.0       1
285536             -74.002150   16285  Subscriber      1986.0       1
285537             -74.006180   15926  Subscriber      1972.0       1
285538             -73.991475   19919  Subscriber      1986.0       1
285539             -74.007114   21204  Subscriber      1990.0       1
285540             -73.993722   19110  Subscriber      1964.0       1
285541             -73.988084   20769  Subscriber      1989.0       1
285542             -73.976806   20621  Subscriber      1991.0       1
285543             -73.997236   15969  Subscriber      1985.0       2
285544             -73.977387   14760  Subscriber      1971.0       1
285545             -73.965930   20327  Subscriber      1983.0       1
285546             -73.991925   19424  Subscriber      1970.0       1
285547             -74.002150   17456  Subscriber      1956.0       1
285548             -73.972826   17669  Subscriber      1976.0       1
285549             -73.980572   20237  Subscriber      1994.0       1
285550             -74.002150   21029  Subscriber      1957.0       1
285551             -73.992939   18342  Subscriber      1974.0       1

[856656 rows x 15 columns]

In [19]:
#saving it on to a CSV
result_2015.to_csv('2015_citibike_results.csv')

# 2016 Data Set  for Trip History

In [20]:
df_one_2016 = pd.read_csv("2016_citibike.csv")
df_one_2016.head()

,Trip Duration,Start Time,Stop Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,Birth Year,Gender
0,204,12/1/16 0:33,12/1/16 0:36,3186,Grove St PATH,40.719586,-74.043117,3270,Jersey & 6th St,40.725289,-74.045572,24377,Subscriber,1989.0,1
1,606,12/1/16 0:56,12/1/16 1:06,3194,McGinley Square,40.725340,-74.067622,3189,West Side Light Rail,40.714402,-74.088772,26273,Subscriber,1962.0,1
2,185,12/1/16 1:14,12/1/16 1:17,3186,Grove St PATH,40.719586,-74.043117,3205,JC Medical Center,40.716540,-74.049638,24555,Subscriber,1977.0,1
3,504,12/1/16 1:29,12/1/16 1:38,3194,McGinley Square,40.725340,-74.067622,3191,Union St,40.718211,-74.083639,26186,Subscriber,1954.0,1
4,672,12/1/16 1:47,12/1/16 1:58,3186,Grove St PATH,40.719586,-74.043117,3190,Garfield Ave Station,40.710467,-74.070039,26170,Subscriber,1988.0,1

In [21]:
df_two_2016 = pd.read_csv("2016_citibike.csv")
df_two_2016.head()

,Trip Duration,Start Time,Stop Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,Birth Year,Gender
0,204,12/1/16 0:33,12/1/16 0:36,3186,Grove St PATH,40.719586,-74.043117,3270,Jersey & 6th St,40.725289,-74.045572,24377,Subscriber,1989.0,1
1,606,12/1/16 0:56,12/1/16 1:06,3194,McGinley Square,40.725340,-74.067622,3189,West Side Light Rail,40.714402,-74.088772,26273,Subscriber,1962.0,1
2,185,12/1/16 1:14,12/1/16 1:17,3186,Grove St PATH,40.719586,-74.043117,3205,JC Medical Center,40.716540,-74.049638,24555,Subscriber,1977.0,1
3,504,12/1/16 1:29,12/1/16 1:38,3194,McGinley Square,40.725340,-74.067622,3191,Union St,40.718211,-74.083639,26186,Subscriber,1954.0,1
4,672,12/1/16 1:47,12/1/16 1:58,3186,Grove St PATH,40.719586,-74.043117,3190,Garfield Ave Station,40.710467,-74.070039,26170,Subscriber,1988.0,1

In [22]:
df_three_2016 = pd.read_csv("2016_citibike.csv")
df_three_2016.head()

,Trip Duration,Start Time,Stop Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,Birth Year,Gender
0,204,12/1/16 0:33,12/1/16 0:36,3186,Grove St PATH,40.719586,-74.043117,3270,Jersey & 6th St,40.725289,-74.045572,24377,Subscriber,1989.0,1
1,606,12/1/16 0:56,12/1/16 1:06,3194,McGinley Square,40.725340,-74.067622,3189,West Side Light Rail,40.714402,-74.088772,26273,Subscriber,1962.0,1
2,185,12/1/16 1:14,12/1/16 1:17,3186,Grove St PATH,40.719586,-74.043117,3205,JC Medical Center,40.716540,-74.049638,24555,Subscriber,1977.0,1
3,504,12/1/16 1:29,12/1/16 1:38,3194,McGinley Square,40.725340,-74.067622,3191,Union St,40.718211,-74.083639,26186,Subscriber,1954.0,1
4,672,12/1/16 1:47,12/1/16 1:58,3186,Grove St PATH,40.719586,-74.043117,3190,Garfield Ave Station,40.710467,-74.070039,26170,Subscriber,1988.0,1

In [23]:
frames_2016 = [df_one_2016, df_two_2016, df_three_2016]

In [24]:
result_2016 = pd.concat(frames_2016)
print (result_2016)

       Trip Duration      Start Time       Stop Time  Start Station ID  \
0                204    12/1/16 0:33    12/1/16 0:36              3186
1                606    12/1/16 0:56    12/1/16 1:06              3194
2                185    12/1/16 1:14    12/1/16 1:17              3186
3                504    12/1/16 1:29    12/1/16 1:38              3194
4                672    12/1/16 1:47    12/1/16 1:58              3186
5                251    12/1/16 1:51    12/1/16 1:56              3183
6                376    12/1/16 2:53    12/1/16 2:59              3186
7                143    12/1/16 4:39    12/1/16 4:41              3276
8                439    12/1/16 5:24    12/1/16 5:32              3193
9                802    12/1/16 5:32    12/1/16 5:45              3207
10               471    12/1/16 5:39    12/1/16 5:47              3192
11               174    12/1/16 5:48    12/1/16 5:51              3267
12               156    12/1/16 5:53    12/1/16 5:56              3267
13               284    12/1/16 5:53    12/1/16 5:58              3270
14               278    12/1/16 5:55    12/1/16 6:00              3269
15               827    12/1/16 5:56    12/1/16 6:10              3194
16               249    12/1/16 5:57    12/1/16 6:01              3267
17               409    12/1/16 5:58    12/1/16 6:05              3195
18               224    12/1/16 5:58    12/1/16 6:02              3278
19               150    12/1/16 6:06    12/1/16 6:08              3276
20               130    12/1/16 6:06    12/1/16 6:08              3270
21               350    12/1/16 6:15    12/1/16 6:21              3207
22               335    12/1/16 6:15    12/1/16 6:21              3207
23               168    12/1/16 6:18    12/1/16 6:21              3279
24               190    12/1/16 6:18    12/1/16 6:21              3267
25               277    12/1/16 6:19    12/1/16 6:24              3267
26               125    12/1/16 6:22    12/1/16 6:24              3213
27               180    12/1/16 6:23    12/1/16 6:26              3269
28               175    12/1/16 6:24    12/1/16 6:27              3186
29               217    12/1/16 6:24    12/1/16 6:28              3225
...              ...             ...             ...               ...
15084            251  12/31/16 19:30  12/31/16 19:34              3203
15085            225  12/31/16 19:38  12/31/16 19:42              3270
15086            260  12/31/16 19:53  12/31/16 19:57              3211
15087            627  12/31/16 19:58  12/31/16 20:08              3213
15088            597  12/31/16 19:58  12/31/16 20:08              3213
15089             75  12/31/16 20:07  12/31/16 20:08              3270
15090             76  12/31/16 20:12  12/31/16 20:13              3272
15091            440  12/31/16 20:12  12/31/16 20:19              3195
15092            391  12/31/16 20:17  12/31/16 20:23              3281
15093            287  12/31/16 20:18  12/31/16 20:23              3267
15094            158  12/31/16 20:24  12/31/16 20:27              3213
15095            820  12/31/16 20:27  12/31/16 20:41              3214
15096            168  12/31/16 20:48  12/31/16 20:51              3213
15097            267  12/31/16 20:52  12/31/16 20:57              3202
15098            212  12/31/16 21:03  12/31/16 21:06              3194
15099           1226  12/31/16 21:08  12/31/16 21:28              3267
15100            304  12/31/16 21:12  12/31/16 21:17              3210
15101            209  12/31/16 21:23  12/31/16 21:27              3211
15102            463  12/31/16 21:41  12/31/16 21:49              3194
15103             99  12/31/16 21:44  12/31/16 21:46              3186
15104            216  12/31/16 21:48  12/31/16 21:52              3205
15105            559  12/31/16 21:52  12/31/16 22:01              3193
15106            473  12/31/16 22:04  12/31/16 22:12              3186
15107            242  12/31/16 23:02  12/31/16 23:06              3214
15108            377  12/31/16 23:10  12/31/16 23:16              3206
15109            557  12/31/16 23:10  12/31/16 23:19              3214
15110           2749  12/31/16 23:29     1/1/17 0:15              3183
15111            173  12/31/16 23:44  12/31/16 23:47              3186
15112           2424  12/31/16 23:44     1/1/17 0:25              3214
15113           2419  12/31/16 23:44     1/1/17 0:25              3214

          Start Station Name  Start Station Latitude  Start Station Longitude  \
0              Grove St PATH               40.719586               -74.043117
1            McGinley Square               40.725340               -74.067622
2              Grove St PATH               40.719586               -74.043117
3            McGinley Square               40.725340               -74.067622
4              Grove St PATH               40.719586               -74.043117
5             Exchange Place               40.716247               -74.033459
6              Grove St PATH               40.719586               -74.043117
7           Marin Light Rail               40.714584               -74.042817
8               Lincoln Park               40.724605               -74.078406
9                Oakland Ave               40.737604               -74.052478
10        Liberty Light Rail               40.711242               -74.055701
11              Morris Canal               40.712419               -74.038526
12              Morris Canal               40.712419               -74.038526
13           Jersey & 6th St               40.725289               -74.045572
14           Brunswick & 6th               40.726012               -74.050389
15           McGinley Square               40.725340               -74.067622
16              Morris Canal               40.712419               -74.038526
17                   Sip Ave               40.730743               -74.063784
18          Monmouth and 6th               40.725685               -74.048790
19          Marin Light Rail               40.714584               -74.042817
20           Jersey & 6th St               40.725289               -74.045572
21               Oakland Ave               40.737604               -74.052478
22               Oakland Ave               40.737604               -74.052478
23               Dixon Mills               40.721630               -74.049968
24              Morris Canal               40.712419               -74.038526
25              Morris Canal               40.712419               -74.038526
26            Van Vorst Park               40.718489               -74.047727
27           Brunswick & 6th               40.726012               -74.050389
28             Grove St PATH               40.719586               -74.043117
29     Baldwin at Montgomery               40.723659               -74.064194
...                      ...                     ...                      ...
15084          Hamilton Park               40.727596               -74.044247
15085        Jersey & 6th St               40.725289               -74.045572
15086             Newark Ave               40.721525               -74.046305
15087         Van Vorst Park               40.718489               -74.047727
15088         Van Vorst Park               40.718489               -74.047727
15089        Jersey & 6th St               40.725289               -74.045572
15090           Jersey & 3rd               40.723332               -74.045953
15091                Sip Ave               40.730743               -74.063784
15092    Leonard Gordon Park               40.745910               -74.057271
15093           Morris Canal               40.712419               -74.038526
15094         Van Vorst Park               40.718489               -74.047727
15095       Essex Light Rail               40.712774               -74.036486
15096         Van Vorst Park               40.718489               -74.047727
15097           Newport PATH               40.727224               -74.033759
15098        McGinley Square               40.725340               -74.067622
15099           Morris Canal               40.712419               -74.038526
15100         Pershing Field               40.742677               -74.051789
15101             Newark Ave               40.721525               -74.046305
15102        McGinley Square               40.725340               -74.067622
15103          Grove St PATH               40.719586               -74.043117
15104      JC Medical Center               40.716540               -74.049638
15105           Lincoln Park               40.724605               -74.078406
15106          Grove St PATH               40.719586               -74.043117
15107       Essex Light Rail               40.712774               -74.036486
15108                Hilltop               40.731169               -74.057574
15109       Essex Light Rail               40.712774               -74.036486
15110         Exchange Place               40.716247               -74.033459
15111          Grove St PATH               40.719586               -74.043117
15112       Essex Light Rail               40.712774               -74.036486
15113       Essex Light Rail               40.712774               -74.036486

       End Station ID       End Station Name  End Station Latitude  \
0                3270        Jersey & 6th St             40.725289
1                3189   West Side Light Rail             40.714402
2                3205      JC Medical Center             40.716540
3                3191               Union St             40.718211
4                3190   Garfield Ave Station             40.710467
5                3185              City Hall             40.717733
6                3203          Hamilton Park             40.727596
7                3186          Grove St PATH             40.719586
8                3195                Sip Ave             40.730743
9                3185              City Hall             40.717733
10               3186          Grove St PATH             40.719586
11               3183         Exchange Place             40.716247
12               3184            Paulus Hook             40.714145
13               3185              City Hall             40.717733
14               3186          Grove St PATH             40.719586
15               3183         Exchange Place             40.716247
16               3183         Exchange Place             40.716247
17               3280            Astor Place             40.719282
18               3186          Grove St PATH             40.719586
19               3186          Grove St PATH             40.719586
20               3211             Newark Ave             40.721525
21               3195                Sip Ave             40.730743
22               3195                Sip Ave             40.730743
23               3186          Grove St PATH             40.719586
24               3183         Exchange Place             40.716247
25               3183         Exchange Place             40.716247
26               3211             Newark Ave             40.721525
27               3186          Grove St PATH             40.719586
28               3272           Jersey & 3rd             40.723332
29               3195                Sip Ave             40.730743
...               ...                    ...                   ...
15084            3273           Manila & 1st             40.721651
15085            3186          Grove St PATH             40.719586
15086            3186          Grove St PATH             40.719586
15087            3192     Liberty Light Rail             40.711242
15088            3192     Liberty Light Rail             40.711242
15089            3272           Jersey & 3rd             40.723332
15090            3270        Jersey & 6th St             40.725289
15091            3193           Lincoln Park             40.724605
15092            3195                Sip Ave             40.730743
15093            3187              Warren St             40.721124
15094            3186          Grove St PATH             40.719586
15095            3214       Essex Light Rail             40.712774
15096            3279            Dixon Mills             40.721630
15097            3203          Hamilton Park             40.727596
15098            3195                Sip Ave             40.730743
15099            3193           Lincoln Park             40.724605
15100            3212        Christ Hospital             40.734786
15101            3209           Brunswick St             40.724176
15102            3220      5 Corners Library             40.734961
15103            3185              City Hall             40.717733
15104            3186          Grove St PATH             40.719586
15105            3195                Sip Ave             40.730743
15106            3268         Lafayette Park             40.713464
15107            3276       Marin Light Rail             40.714584
15108            3225  Baldwin at Montgomery             40.723659
15109            3203          Hamilton Park             40.727596
15110            3183         Exchange Place             40.716247
15111            3270        Jersey & 6th St             40.725289
15112            3214       Essex Light Rail             40.712774
15113            3214       Essex Light Rail             40.712774

       End Station Longitude  Bike ID   User Type  Birth Year  Gender
0                 -74.045572    24377  Subscriber      1989.0       1
1                 -74.088772    26273  Subscriber      1962.0       1
2                 -74.049638    24555  Subscriber      1977.0       1
3                 -74.083639    26186  Subscriber      1954.0       1
4                 -74.070039    26170  Subscriber      1988.0       1
5                 -74.043845    24673  Subscriber      1986.0       1
6                 -74.044247    24706  Subscriber      1988.0       1
7                 -74.043117    26294  Subscriber      1983.0       1
8                 -74.063784    26308  Subscriber      1967.0       1
9                 -74.043845    24454  Subscriber      1984.0       2
10                -74.043117    24583  Subscriber      1986.0       1
11                -74.033459    24695  Subscriber      1980.0       1
12                -74.033552    26164  Subscriber      1961.0       1
13                -74.043845    26157  Subscriber      1984.0       1
14                -74.043117    24613  Subscriber      1989.0       2
15                -74.033459    24467  Subscriber      1979.0       1
16                -74.033459    24535  Subscriber      1974.0       1
17                -74.071262    26308  Subscriber      1964.0       1
18                -74.043117    24663  Subscriber      1986.0       2
19                -74.043117    24627  Subscriber      1988.0       1
20                -74.046305    24453    Customer         NaN       0
21                -74.063784    26233  Subscriber      1958.0       1
22                -74.063784    24599  Subscriber      1977.0       1
23                -74.043117    26187  Subscriber      1982.0       1
24                -74.033459    26201  Subscriber      1973.0       1
25                -74.033459    26258  Subscriber      1991.0       1
26                -74.046305    24568  Subscriber      1989.0       1
27                -74.043117    24549  Subscriber      1989.0       2
28                -74.045953    26294  Subscriber      1991.0       2
29                -74.063784    26223  Subscriber      1986.0       1
...                      ...      ...         ...         ...     ...
15084             -74.042884    24530  Subscriber      1973.0       1
15085             -74.043117    24525  Subscriber      1970.0       1
15086             -74.043117    24641  Subscriber      1959.0       2
15087             -74.055701    24513  Subscriber      1967.0       2
15088             -74.055701    24463  Subscriber      1970.0       1
15089             -74.045953    24600  Subscriber      1989.0       1
15090             -74.045572    24600  Subscriber      1989.0       1
15091             -74.078406    24417  Subscriber         NaN       0
15092             -74.063784    24408  Subscriber      1994.0       1
15093             -74.038051    24699  Subscriber      1989.0       1
15094             -74.043117    24457  Subscriber      1987.0       2
15095             -74.036486    26200  Subscriber      1980.0       1
15096             -74.049968    26198  Subscriber      1987.0       2
15097             -74.044247    26241  Subscriber      1966.0       1
15098             -74.063784    26163  Subscriber      1972.0       1
15099             -74.078406    24535  Subscriber      1960.0       1
15100             -74.050444    24486  Subscriber      1969.0       1
15101             -74.050656    24516  Subscriber      1986.0       2
15102             -74.059503    24426  Subscriber      1984.0       1
15103             -74.043845    24622  Subscriber      1957.0       1
15104             -74.043117    24590  Subscriber      1985.0       1
15105             -74.063784    26431  Subscriber      1986.0       1
15106             -74.062859    24525  Subscriber      1991.0       1
15107             -74.042817    26232  Subscriber      1958.0       1
15108             -74.064194    24421  Subscriber      1984.0       1
15109             -74.044247    24465  Subscriber      1981.0       2
15110             -74.033459    24389    Customer         NaN       0
15111             -74.045572    24641  Subscriber      1978.0       1
15112             -74.036486    26219  Subscriber      1960.0       2
15113             -74.036486    24471  Subscriber      1956.0       1

[45342 rows x 15 columns]

In [25]:
#save on to csv file for 2016 
result_2016.to_csv('2016_citibike_results.csv')

In [26]:
df_one_2017 = pd.read_csv("2017_citibike.csv")
df_one_2017.head()

,Trip Duration,Start Time,Stop Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,Birth Year,Gender
0,680,1/1/17 0:00,1/1/17 0:11,3226,W 82 St & Central Park West,40.782750,-73.971370,3165,Central Park West & W 72 St,40.775794,-73.976206,25542,Subscriber,1965.0,2
1,1282,1/1/17 0:00,1/1/17 0:22,3263,Cooper Square & E 7 St,40.729236,-73.990868,498,Broadway & W 32 St,40.748549,-73.988084,21136,Subscriber,1987.0,2
2,648,1/1/17 0:00,1/1/17 0:11,3143,5 Ave & E 78 St,40.776829,-73.963888,3152,3 Ave & E 71 St,40.768737,-73.961199,18147,Customer,NaN,0
3,631,1/1/17 0:01,1/1/17 0:11,3143,5 Ave & E 78 St,40.776829,-73.963888,3152,3 Ave & E 71 St,40.768737,-73.961199,21211,Customer,NaN,0
4,621,1/1/17 0:01,1/1/17 0:11,3143,5 Ave & E 78 St,40.776829,-73.963888,3152,3 Ave & E 71 St,40.768737,-73.961199,26819,Customer,NaN,0

In [27]:
df_two_2017 = pd.read_csv("2017_citibike_2.csv")
df_two_2017.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,370,11/1/17 0:04,11/1/17 0:10,3199,Newport Pkwy,40.728745,-74.032108,3639,Harborside,40.719252,-74.034234,31817,Subscriber,1975.0,1
1,96,11/1/17 0:05,11/1/17 0:07,3211,Newark Ave,40.721525,-74.046305,3270,Jersey & 6th St,40.725289,-74.045572,26307,Subscriber,1991.0,2
2,73,11/1/17 0:09,11/1/17 0:11,3275,Columbus Drive,40.718355,-74.038914,3187,Warren St,40.721124,-74.038051,31864,Subscriber,1974.0,1
3,162,11/1/17 0:14,11/1/17 0:16,3275,Columbus Drive,40.718355,-74.038914,3184,Paulus Hook,40.714145,-74.033552,26314,Subscriber,1979.0,1
4,214,11/1/17 0:23,11/1/17 0:27,3276,Marin Light Rail,40.714584,-74.042817,3186,Grove St PATH,40.719586,-74.043117,31772,Subscriber,1982.0,1

In [28]:
df_three_2017 = pd.read_csv("2017_citibike_3.csv")
df_three_2017.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,252,4/1/17 0:14,4/1/17 0:18,3186,Grove St PATH,40.719586,-74.043117,3203,Hamilton Park,40.727596,-74.044247,26238,Subscriber,NaN,0
1,452,4/1/17 0:15,4/1/17 0:23,3203,Hamilton Park,40.727596,-74.044247,3213,Van Vorst Park,40.718489,-74.047727,26186,Subscriber,1962.0,1
2,465,4/1/17 0:46,4/1/17 0:54,3271,Danforth Light Rail,40.692640,-74.088012,3216,Columbia Park,40.697030,-74.096937,24659,Subscriber,1996.0,1
3,417,4/1/17 0:47,4/1/17 0:54,3271,Danforth Light Rail,40.692640,-74.088012,3216,Columbia Park,40.697030,-74.096937,24471,Subscriber,1994.0,1
4,391,4/1/17 1:13,4/1/17 1:19,3183,Exchange Place,40.716247,-74.033459,3202,Newport PATH,40.727224,-74.033759,24624,Subscriber,1983.0,1

In [29]:
frames_2017 = [df_one_2017, df_two_2017, df_three_2017]

In [30]:
result_2017 = pd.concat(frames_2017, sort=True)
print (result_2017)

       Bike ID  Birth Year  End Station ID  End Station Latitude  \
0      25542.0      1965.0          3165.0             40.775794
1      21136.0      1987.0           498.0             40.748549
2      18147.0         NaN          3152.0             40.768737
3      21211.0         NaN          3152.0             40.768737
4      26819.0         NaN          3152.0             40.768737
5      16050.0      2000.0          3163.0             40.773407
6      27294.0      1973.0           479.0             40.760193
7      23288.0      1977.0           445.0             40.727408
8      25041.0      1989.0           242.0             40.697787
9      16311.0      1980.0          3164.0             40.777057
10     26138.0      1993.0           526.0             40.747659
11     19728.0      1973.0          3259.0             40.749370
12     17171.0      1992.0          3325.0             40.784903
13     23874.0      1996.0           355.0             40.716021
14     26501.0      1964.0          3428.0             40.740983
15     20845.0      1977.0          3163.0             40.773407
16     15597.0      1970.0          3428.0             40.740983
17     17810.0      1994.0          3263.0             40.729236
18     27279.0         NaN           520.0             40.759923
19     21128.0      1969.0           306.0             40.708235
20     26491.0      1984.0          3146.0             40.775730
21     18417.0      1974.0           308.0             40.713079
22     21400.0      1996.0           301.0             40.722174
23     26577.0      1991.0           229.0             40.727434
24     15603.0         NaN           524.0             40.755273
25     16373.0         NaN           524.0             40.755273
26     17438.0         NaN           524.0             40.755273
27     25023.0      1968.0           428.0             40.724677
28     26003.0      1991.0           524.0             40.755273
29     18569.0      1986.0           494.0             40.747348
...        ...         ...             ...                   ...
21156      NaN         NaN             NaN                   NaN
21157      NaN         NaN             NaN                   NaN
21158      NaN         NaN             NaN                   NaN
21159      NaN         NaN             NaN                   NaN
21160      NaN         NaN             NaN                   NaN
21161      NaN         NaN             NaN                   NaN
21162      NaN         NaN             NaN                   NaN
21163      NaN         NaN             NaN                   NaN
21164      NaN         NaN             NaN                   NaN
21165      NaN         NaN             NaN                   NaN
21166      NaN         NaN             NaN                   NaN
21167      NaN         NaN             NaN                   NaN
21168      NaN         NaN             NaN                   NaN
21169      NaN         NaN             NaN                   NaN
21170      NaN         NaN             NaN                   NaN
21171      NaN         NaN             NaN                   NaN
21172      NaN         NaN             NaN                   NaN
21173      NaN         NaN             NaN                   NaN
21174      NaN         NaN             NaN                   NaN
21175      NaN         NaN             NaN                   NaN
21176      NaN         NaN             NaN                   NaN
21177      NaN         NaN             NaN                   NaN
21178      NaN         NaN             NaN                   NaN
21179      NaN         NaN             NaN                   NaN
21180      NaN         NaN             NaN                   NaN
21181      NaN         NaN             NaN                   NaN
21182      NaN         NaN             NaN                   NaN
21183      NaN         NaN             NaN                   NaN
21184      NaN         NaN             NaN                   NaN
21185      NaN         NaN             NaN                   NaN

       End Station Longitude             End Station Name  Gender  \
0                 -73.976206  Central Park West & W 72 St     2.0
1                 -73.988084           Broadway & W 32 St     2.0
2                 -73.961199              3 Ave & E 71 St     0.0
3                 -73.961199              3 Ave & E 71 St     0.0
4                 -73.961199              3 Ave & E 71 St     0.0
5                 -73.977825  Central Park West & W 68 St     1.0
6                 -73.991255              9 Ave & W 45 St     1.0
7                 -73.981420           E 10 St & Avenue A     2.0
8                 -73.973736   Carlton Ave & Flushing Ave     1.0
9                 -73.978985       Columbus Ave & W 72 St     1.0
10                -73.984907              E 33 St & 5 Ave     1.0
11                -73.999234              9 Ave & W 28 St     1.0
12                -73.950503              E 95 St & 3 Ave     1.0
13                -73.999744        Bayard St & Baxter St     1.0
14                -74.001702              8 Ave & W 16 St     1.0
15                -73.977825  Central Park West & W 68 St     1.0
16                -74.001702              8 Ave & W 16 St     1.0
17                -73.990868       Cooper Square & E 7 St     1.0
18                -73.976485              W 52 St & 5 Ave     0.0
19                -74.005301         Cliff St & Fulton St     1.0
20                -73.956753              E 81 St & 3 Ave     2.0
21                -73.998512      St James Pl & Oliver St     1.0
22                -73.983688            E 2 St & Avenue B     1.0
23                -73.993790               Great Jones St     1.0
24                -73.983169              W 43 St & 6 Ave     0.0
25                -73.983169              W 43 St & 6 Ave     0.0
26                -73.983169              W 43 St & 6 Ave     0.0
27                -73.987834               E 3 St & 1 Ave     2.0
28                -73.983169              W 43 St & 6 Ave     1.0
29                -73.997236              W 26 St & 8 Ave     1.0
...                      ...                          ...     ...
21156                    NaN                          NaN     NaN
21157                    NaN                          NaN     NaN
21158                    NaN                          NaN     NaN
21159                    NaN                          NaN     NaN
21160                    NaN                          NaN     NaN
21161                    NaN                          NaN     NaN
21162                    NaN                          NaN     NaN
21163                    NaN                          NaN     NaN
21164                    NaN                          NaN     NaN
21165                    NaN                          NaN     NaN
21166                    NaN                          NaN     NaN
21167                    NaN                          NaN     NaN
21168                    NaN                          NaN     NaN
21169                    NaN                          NaN     NaN
21170                    NaN                          NaN     NaN
21171                    NaN                          NaN     NaN
21172                    NaN                          NaN     NaN
21173                    NaN                          NaN     NaN
21174                    NaN                          NaN     NaN
21175                    NaN                          NaN     NaN
21176                    NaN                          NaN     NaN
21177                    NaN                          NaN     NaN
21178                    NaN                          NaN     NaN
21179                    NaN                          NaN     NaN
21180                    NaN                          NaN     NaN
21181                    NaN                          NaN     NaN
21182                    NaN                          NaN     NaN
21183                    NaN                          NaN     NaN
21184                    NaN                          NaN     NaN
21185                    NaN                          NaN     NaN

       Start Station ID  Start Station Latitude  Start Station Longitude  \
0                3226.0               40.782750               -73.971370
1                3263.0               40.729236               -73.990868
2                3143.0               40.776829               -73.963888
3                3143.0               40.776829               -73.963888
4                3143.0               40.776829               -73.963888
5                3163.0               40.773407               -73.977825
6                 499.0               40.769155               -73.981918
7                 362.0               40.751726               -73.987535
8                 430.0               40.701485               -73.986569
9                3165.0               40.775794               -73.976206
10                528.0               40.742909               -73.977061
11                474.0               40.745168               -73.986831
12                524.0               40.755273               -73.983169
13                297.0               40.734232               -73.986923
14                515.0               40.760094               -73.994618
15               3172.0               40.778567               -73.977550
16                515.0               40.760094               -73.994618
17                423.0               40.765849               -73.986905
18                267.0               40.750977               -73.987654
19                369.0               40.732241               -74.000264
20               3139.0               40.771183               -73.964094
21                279.0               40.707873               -74.001670
22                301.0               40.722174               -73.983688
23                128.0               40.727103               -74.002971
24                449.0               40.764618               -73.987895
25                449.0               40.764618               -73.987895
26                449.0               40.764618               -73.987895
27                153.0               40.752062               -73.981632
28                368.0               40.730386               -74.002150
29                513.0               40.768254               -73.988639
...                 ...                     ...                      ...
21156               NaN                     NaN                      NaN
21157               NaN                     NaN                      NaN
21158               NaN                     NaN                      NaN
21159               NaN                     NaN                      NaN
21160               NaN                     NaN                      NaN
21161               NaN                     NaN                      NaN
21162               NaN                     NaN                      NaN
21163               NaN                     NaN                      NaN
21164               NaN                     NaN                      NaN
21165               NaN                     NaN                      NaN
21166               NaN                     NaN                      NaN
21167               NaN                     NaN                      NaN
21168               NaN                     NaN                      NaN
21169               NaN                     NaN                      NaN
21170               NaN                     NaN                      NaN
21171               NaN                     NaN                      NaN
21172               NaN                     NaN                      NaN
21173               NaN                     NaN                      NaN
21174               NaN                     NaN                      NaN
21175               NaN                     NaN                      NaN
21176               NaN                     NaN                      NaN
21177               NaN                     NaN                      NaN
21178               NaN                     NaN                      NaN
21179               NaN                     NaN                      NaN
21180               NaN                     NaN                      NaN
21181               NaN                     NaN                      NaN
21182               NaN                     NaN                      NaN
21183               NaN                     NaN                      NaN
21184               NaN                     NaN                      NaN
21185               NaN                     NaN                      NaN

          ...           end station name gender start station id  \
0         ...                        NaN    NaN              NaN
1         ...                        NaN    NaN              NaN
2         ...                        NaN    NaN              NaN
3         ...                        NaN    NaN              NaN
4         ...                        NaN    NaN              NaN
5         ...                        NaN    NaN              NaN
6         ...                        NaN    NaN              NaN
7         ...                        NaN    NaN              NaN
8         ...                        NaN    NaN              NaN
9         ...                        NaN    NaN              NaN
10        ...                        NaN    NaN              NaN
11        ...                        NaN    NaN              NaN
12        ...                        NaN    NaN              NaN
13        ...                        NaN    NaN              NaN
14        ...                        NaN    NaN              NaN
15        ...                        NaN    NaN              NaN
16        ...                        NaN    NaN              NaN
17        ...                        NaN    NaN              NaN
18        ...                        NaN    NaN              NaN
19        ...                        NaN    NaN              NaN
20        ...                        NaN    NaN              NaN
21        ...                        NaN    NaN              NaN
22        ...                        NaN    NaN              NaN
23        ...                        NaN    NaN              NaN
24        ...                        NaN    NaN              NaN
25        ...                        NaN    NaN              NaN
26        ...                        NaN    NaN              NaN
27        ...                        NaN    NaN              NaN
28        ...                        NaN    NaN              NaN
29        ...                        NaN    NaN              NaN
...       ...                        ...    ...              ...
21156     ...           Marin Light Rail    1.0           3202.0
21157     ...            Jersey & 6th St    1.0           3186.0
21158     ...           Monmouth and 6th    1.0           3272.0
21159     ...               Newport PATH    1.0           3214.0
21160     ...               Jersey & 3rd    1.0           3203.0
21161     ...           Essex Light Rail    1.0           3186.0
21162     ...               Newport PATH    1.0           3214.0
21163     ...              Hamilton Park    1.0           3183.0
21164     ...       Garfield Ave Station    1.0           3211.0
21165     ...                Dixon Mills    1.0           3211.0
21166     ...                 Newark Ave    2.0           3273.0
21167     ...              Grove St PATH    1.0           3213.0
21168     ...              Hamilton Park    1.0           3272.0
21169     ...             Van Vorst Park    2.0           3186.0
21170     ...               Brunswick St    1.0           3194.0
21171     ...            McGinley Square    1.0           3183.0
21172     ...                    Sip Ave    1.0           3193.0
21173     ...            Jersey & 6th St    1.0           3211.0
21174     ...      Baldwin at Montgomery    1.0           3195.0
21175     ...            McGinley Square    1.0           3209.0
21176     ...                  Warren St    1.0           3199.0
21177     ...            Brunswick & 6th    1.0           3183.0
21178     ...                Oakland Ave    1.0           3212.0
21179     ...                 Newark Ave    1.0           3275.0
21180     ...               Newport Pkwy    1.0           3187.0
21181     ...          5 Corners Library    1.0           3187.0
21182     ...                  Warren St    1.0           3275.0
21183     ...      Baldwin at Montgomery    1.0           3194.0
21184     ...                Oakland Ave    2.0           3209.0
21185     ...                Oakland Ave    1.0           3209.0

       start station latitude start station longitude  start station name  \
0                         NaN                     NaN                 NaN
1                         NaN                     NaN                 NaN
2                         NaN                     NaN                 NaN
3                         NaN                     NaN                 NaN
4                         NaN                     NaN                 NaN
5                         NaN                     NaN                 NaN
6                         NaN                     NaN                 NaN
7                         NaN                     NaN                 NaN
8                         NaN                     NaN                 NaN
9                         NaN                     NaN                 NaN
10                        NaN                     NaN                 NaN
11                        NaN                     NaN                 NaN
12                        NaN                     NaN                 NaN
13                        NaN                     NaN                 NaN
14                        NaN                     NaN                 NaN
15                        NaN                     NaN                 NaN
16                        NaN                     NaN                 NaN
17                        NaN                     NaN                 NaN
18                        NaN                     NaN                 NaN
19                        NaN                     NaN                 NaN
20                        NaN                     NaN                 NaN
21                        NaN                     NaN                 NaN
22                        NaN                     NaN                 NaN
23                        NaN                     NaN                 NaN
24                        NaN                     NaN                 NaN
25                        NaN                     NaN                 NaN
26                        NaN                     NaN                 NaN
27                        NaN                     NaN                 NaN
28                        NaN                     NaN                 NaN
29                        NaN                     NaN                 NaN
...                       ...                     ...                 ...
21156               40.727224              -74.033759        Newport PATH
21157               40.719586              -74.043117       Grove St PATH
21158               40.723332              -74.045953        Jersey & 3rd
21159               40.712774              -74.036486    Essex Light Rail
21160               40.727596              -74.044247       Hamilton Park
21161               40.719586              -74.043117       Grove St PATH
21162               40.712774              -74.036486    Essex Light Rail
21163               40.716247              -74.033459      Exchange Place
21164               40.721525              -74.046305          Newark Ave
21165               40.721525              -74.046305          Newark Ave
21166               40.721651              -74.042884        Manila & 1st
21167               40.718489              -74.047727      Van Vorst Park

In [31]:
#save on to csv for 2017
result_2017.to_csv('2017_citibike_results.csv')